:root {
  --menu-width: 37.5em; /* Width of menu */
  --items: 4 /* Number of items you have */
  --item-width: calc(var(--menu-width) / var(--items));
}
.img_logo{
height: 55px;
width: 55px;
border-radius: 10px;
}


body {
  margin: 0;
  padding: 0;
  background: linear-gradient(45deg, #102eff, #d2379b);
  font-family: 'DM Sans',sans-serif !important;
  height: 100vh;
  overflow-x: hidden;
  width: 100vw;
}

nav {
  width: var(--menu-width);
  display: flex;
  transform-style: preserve-3d;
  justify-content: space-evenly;
  position: relative;
  z-index: 2;
  margin: 0px auto;
  perspective: 2000px;
  flex-wrap: wrap;
  top: 3em;
}

nav .menu-item {
  color: white;
  font-weight: 600;
  transform-style: preserve-3d;
  flex-grow: 1;
  display: flex;
  flex-basis: var(--item-width);
  box-sizing: border-box;
  padding: 1em 1em;
  justify-content: center;
  perspective: 200px;
  letter-spacing: 0.5px;
  min-height: 7.5em;
}

nav .menu-text, nav .menu-text a {
  font-size: 1em;
  color: white;
  text-decoration: none;
  text-shadow: 0 1px 5px rgba(0,0,0,0.1);
  transition: color 0.1s ease-out;
  text-align: center;
}

nav .menu-text a:hover {
  color: rgba(255,255,255,0.5);  
}


/* IMAGENES CON DATA DE CRIPTOS */
.cuadro_criptos{
  height: 200px;
  width: 50%;
  margin-left: 25%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-row-gap: 40px;
  margin-top:  120px;
  padding: 20px;
  
 
}
.cripto_general{
  display: flex;
  margin-left:20px;
}

.token_info{
  display: flex;
  display: flex;      
  justify-content: center;             
  align-items: center;
  flex-direction: column;
  margin-left: 10px;
  font-family: "lato", sans-serif;
}
.token_img{
  height: 55px;
  width: 55px;
}

.token_name{
  color: white;
}
.token_text{
  color: white;
}

.titulo{
    font-family: 'DM Sans',sans-serif; 
    text-align: center;
    margin-top: 5%;
    color: white;
  
}


@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* Get rid of all default margins/paddings. Set typeface */
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: "lato", sans-serif;
}


.form_y_calculadora{
  display: flex;
  justify-content: space-between;
  width: 900px;
  margin-left: 25%;
  margin-top: 25px;
}

  /* FORMULARIO */

.signupFrm {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
  }


  .form {
    background-color: white;
    width: 400px;
    border-radius: 8px;
    padding: 10px 40px;
    box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
   
  }
  
  .titulo_elegicripto{
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: small;
    
  }

  .titulo_elegirtiempo{
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: small;
    
  }

  .titulo_cantidadinvertir{
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: small;
  }

  .form-select{
    width: 80% !important;
  }

  .form-control{
    width: 80% !important;
  }


  .inputContainer {
    margin-top: 20px;
    position: relative;
    height: 45px;
    width: 90%;
    margin-bottom: 17px;
  }

  /* Style the inputs */

.input {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    border: 1px solid #DADCE0;
    border-radius: 7px;
    font-size: 16px;
    padding: 0 20px;
    outline: none;
    background: none;
    z-index: 1;
  }
  
  /* Hide the placeholder texts (a) */
  
  ::placeholder {
    color: transparent;
  }

  .label {
    position: absolute;
    top: 15px;
    left: 15px;
    padding: 0 4px;
    background-color: white;
    color: gray;
    font-size: 16px;
    transition: 0.5s;
    z-index: 0;
  }

  .btn-hover {
    width: 150px;
    font-size: 13px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 20%;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.color-7 {
  background-image: linear-gradient(to right, #6253e1, #852D91, #A3A1FF, #F24645);
  box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
}

  

  .input:focus + .label {
    top: -7px;
    left: 3px;
    z-index: 10;
    font-size: 14px;
    font-weight: 600;
    color: black;
  }

  .input:focus {
    border: 2px solid #6253e1;
  }

  .input:not(:placeholder-shown)+ .label {
    top: -7px;
    left: 3px;
    z-index: 10;
    font-size: 14px;
    font-weight: 600;
  }


     /* CALCULADORA */

  .calculadora {
    background-color: white;
    width: 420px;
    height: 360px;
    margin-top: 3%;
    border-radius: 8px;
    padding: 10px 40px;
    }

    .titulo_calculadora{
      font-size: 20px;
      font-family: 'DM Sans',sans-serif; 
      padding: 10px;
      font-weight: bold;
    }  

 .resultados_calculadora{
 /*  color: grey; */
  font-family: 'DM Sans',sans-serif; 
  padding: 10px;
  
  }

  .ganarias_resultado{
    margin-top: 10px;
    margin-bottom: 30px;
  }

.resultado_ganarias{
  margin-top: 10px;
  font-size: 30px;
  color: black;

}



  .rendimiento_resultado{
    margin-top: 40px;
    margin-bottom: 10px;
    
  }
    

  .resultado_rendimiento{
    margin-top: 10px;
    font-size: 30px;
    color: black;
  }


  /* aaaaaaaaaaaaaaaaa */

  /* FOOTER */

.footer hr{
  margin-top: 100px;
	width: 70%;
	margin-left: 15%;
  color:  wheat;
}

.footer .footer_div{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 25px;
	width: 70%;
	margin-left: 15%;
	padding: 1%;
	height: 150px;
	margin-top: 50px;
  color:  wheat;
}

.footer .footer_div .City{
	display: flex;
	justify-content: space-around;
}

.footer .footer_div .center_div_city{
	text-align:left;
}

.footer .footer_div .adress_main{
	font-weight: bold;
}

.footer .footer_div .iconos_redes{
	display: flex;
	justify-content: end;
	gap: 45px;
}

.footer .footer_div .iconos_redes a{
	text-decoration: none;
	color: wheat;
}

.footer .footer_div .copyright{
	font-size: small;
	display: flex;
	justify-content: end;
	margin-top: 15px;
}

.tabla-css {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  min-width: 600px;
  box-shadow: 0 0 15px white; 
  border-collapse: collapse;
  color: white;
  
}
.tabla-css thead tr {
  background-color: white;
  color:#252a34;
  text-align: center;
}
.tabla-css th,
.tabla-css td {
  padding: 20px 20px;
  text-align: center;
}
.tabla-css tbody tr:nth-of-type(even){
background-color: #f8c7282c;   
}




.bloque_map {
  margin-top: 70px;
	width: 70%;
	margin-left: 15%;
	padding: 1%;
	height: 650px;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
  
  
}

.bloque_map .title_offices h2 {
	color: white;
	align-items: center;
	display: flex;
	justify-content: center;
	margin-top: 20px;
  margin-bottom: 50px;

}

.bloque_map .mapa_y_lugares {
	display: flex;
	justify-content: space-between;
}

.bloque_map .map_img {
	width: 30%;
	height: 500px;
	border-radius: 5px;
}

.bloque_map .map_img img {
	height: 500px;
	padding: 10px;

}


.bloque_map .city_hour {
	width: 60%;
	height: 500px;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

.bloque_map .delaware {
	display: flex;

}


.bloque_map .img_adress {
	width: 30%;
	margin-left: 40px;
	color: white;
	text-align: center;
}

.bloque_map .city_hour .delaware .img_adress .img_delaware img {
	height: 150px;
	width: 150px;
	border-radius: 80px;
	border: solid white;
	border-width: 0.3cm;
}

.bloque_map .delaware .live_hour_place {
	display: flex;
	align-items: center;
	width: 100%;
	flex-direction: column;
	margin-top: 60px;
	color: white;
}

.bloque_map .delaware .live_hour_place .place {
	font-size: 20px;
	font-weight: 700;
}

.bloque_map .delaware .live_hour_place .hour {
	font-size: 30px;
	font-weight: 700;
	margin-top: 15px;
}

/* TERMINA BLOQUE MAP */
